@use "@/styles/mixins" as *;

.bar {
	display: flex;
	align-items: center;
	gap: var(--space-32);
	height: 64px;
	background: var(--color-neutral-black);

  @include container;
}

.logo {
  padding: var(--space-12);
  border-radius: var(--radius-m);
  background-color: var(--color-neutral-black);
  position: relative;
  top: 20px;
	flex-shrink: 0;
}

.navLinks {
	display: flex;
	align-items: center;
	gap: var(--space-32);
}

.navLink {
	font-size: var(--font-size-14);
	font-weight: var(--font-weight-medium);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--color-neutral-white);
	text-decoration: none;
	transition: color var(--duration-base) var(--ease-standard);

	&:hover {
		color: var(--color-yellow-400);
	}
}
