import type { HTMLAttributes, FC } from "react";
import { cn } from "@/utils/lib";
import styles from "./{{kebabCase name}}.module.scss";

type Props = HTMLAttributes<HTMLDivElement> & {
  
}

export const {{pascalCase name}}: FC<div> = ({
	className,
	...props
}) => {
	return (
    <div {...props} className={cn(styles.container, className)}>
    
    </div>
  );
};
  