@use "@/styles/mixins" as *;

.bar {
	display: flex;
	height: 24px;
	font-size: var(--font-size-12);
}

.roomSection {
	transition: var(--duration-base);
	flex: 1;
	display: flex;
	align-items: center;
	gap: var(--space-8);
	background: var(--color-yellow-400);
	min-width: 200px;
	
	@include container;


	&:hover {
		background: var(--color-yellow-500);
	}
}

.userSection {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--space-8);
	background: var(--color-primary-700);
	max-width: 200px;
	min-width: 0px;
	flex-shrink: 1;

	@include container;
}

.roomLabel {
	font-weight: var(--font-weight-medium);
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: rgba(0, 0, 0, 0.45);
	flex-shrink: 0;
}

.roomName {
	font-weight: var(--font-weight-bold);
	color: var(--color-neutral-950);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.avatar {
	border-radius: var(--radius-full);
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	object-fit: cover;
}

.userName {
	font-weight: var(--font-weight-medium);
	color: var(--color-neutral-white);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
