@use "vars" as *;

@mixin container {
	padding: 0 var(--space-xl);

	@media (max-width: $screen-phone) {
		padding: 0 var(--space-16);
	}
}

@mixin pageContainer {
	@include container;

	margin-inline: auto;
	max-width: 1800px;
}
