.page {
	display: flex;
	flex-direction: column;
}

.content {
	padding-block: var(--space-40);
}

@media (max-width: 485px) {
	.content {
		padding-block: var(--space-24);
	}
}

//

.empty {
	color: var(--color-neutral-500);
	font-size: var(--font-size-14);
	padding: var(--space-24) 0;
	margin: 0;
}
