@use "@/styles/mixins" as *;

.main {
	flex-grow: 1;
	background: var(--color-neutral-950);
	padding-top: 80px;
}

.layout {
	@include pageContainer;

	display: grid;
	grid-template-columns: 1fr 380px;
	gap: 0;
	align-items: start;
	padding-block: 0;
}

.left {
	border-right: 1px solid var(--color-neutral-800);
	padding-right: var(--space-40);
	padding-top: var(--space-40);
}

.right {
	position: sticky;
	top: 80px;
	padding-left: var(--space-40);
	padding-block: var(--space-40);
}
