@use "@/styles/vars" as *;

.mobileWidgetsTop,
.mobileWidgetsBottom {
	display: none;

	@media (max-width: $screen-desktop) {
		display: flex;
		flex-direction: column;
		border-top: 1px solid var(--color-neutral-800);
	}
}
